<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>

  .logo{
    position: absolute;
    left: 0;
    top: 0;
  }
    body{
    background-color:#E5E5E5;
    }
    .info{
     font-family: "Helvetica Light" , sans-serif;
    font-size: 18px;
    color:#002366;
    text-align:center;
    }

    .temp{
        font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
    }
    .pd{font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;}

    .fire{font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;}

    .rain{
     font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
    }

    .wind{
    font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
    }

    .snow{
        font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
    }

    .humidity{
         font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
    }

   .uv{
        font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
   }

   .aq{
    font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
   }
    .pd{
    font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
   }
   .fire{
    font-family: "Helvetica";
    font-size: 18px;
    color:#002366;
    text-align:left;
   }

    .sunIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }

    .pollenIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }

    .fireIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }

     .uvIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
     .rainIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
     .windIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
     .humidityIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
      .aqIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
     .snowIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
    .pollenAdvertisement{
    padding-top: 70px;
    height: 150px;
    width: 300px;
    }
    .snowAdvertisement{
    height: 150px;
    width: 300px;
    }
    .pollenIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
     .fireIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    }
    .uvd{
    border-color:#EAE7EC;
    border-width:3px;
    border-style:outset;
    width: 30%;
    padding: 10px;
    }
    .aqd{
    border-color:#EAE7EC;
    border-width:3px;
    border-style:outset;
    width: 30%;
    padding: 10px;
    }
    .weatherd{
    border-color:#EAE7EC;
    border-width:3px;
    border-style:outset;
    width: 30%;
    padding: 10px;
    }
    .pawg{
    border-color:#EAE7EC;
    border-width:3px;
    border-style:outset;
    width: 30%;
    padding: 10px;
    }
    .fired{
    border-color:#EAE7EC;
    border-width:3px;
    border-style:outset;
    width: 30%;
    padding: 10px;
    }
    .wrap1{
    text-align:center;
    }
     .wrap2{
    text-align:center;
    }
     .wrap3{
    text-align:center;
    }
    .wrap4{
    text-align:center;
    }
    .wrap5{
    text-align:center;
    }
</style>

<head>
    <title>Blue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<img src="BlueLogo.png" class = "logo">
<p th:text="'Zip Code: ' + ${zipCode} +'. City: ' + ${adviceData.city} + '. Date/Time: ' +${adviceData.airQualityData.time} +'.' " class="info"/>
<p th:text="'Sunrise: ' + ${adviceData.sunAdvice.sunrise} + '. Sunset: ' + ${adviceData.sunAdvice.sunset} + '.'" class="info"/>
</div>
<div class="wrap2">
    <div style="display: inline-block; background-color:#DAB8F3" class="uvd">
        <p th:text="'UV Index (0-10+): ' + ${adviceData.uvAdvice.UVAIndexValue} + ', ' + ${adviceData.uvAdvice.message}" class="uv"/>
        <img th:src="${adviceData.uvAdvice.icon}" class="uvIcon" />
    </div>
</div>
<div class="wrap1">
<div style ="display: inline-block; background-color:lightblue" class="weatherd">
    <p th:text="'Current temperature: ' + ${adviceData.sunAdvice.temperatureF}  + ' F/' + ${adviceData.sunAdvice.temperatureC} + ' C. ' +  ${adviceData.sunAdvice.message}" class="temp"/>
    <img th:src="${adviceData.sunAdvice.icon} " class="sunIcon"/>
    <p th:text="${adviceData.windAdvice.message}" class="wind"/>
    <img th:src="${adviceData.windAdvice.icon}" class="windIcon" />
    <p th:text="'Is it raining?: ' + ${adviceData.rainAdvice.hasRain} + '. ' + ${adviceData.rainAdvice.message}" class="rain"/>
    <img th:src="${adviceData.rainAdvice.icon}" class="rainIcon"/>
    <p th:text="'Humidity %: ' + ${adviceData.humidityAdvice.humidityPercent} +  '. ' + ${adviceData.humidityAdvice.message}" class="humidity"/>
    <img th:src="${adviceData.humidityAdvice.icon}" class="humidityIcon" />
    <p th:text="'Is it snowing? ' + ${adviceData.snowAdvice.hasSnow} + '. ' + ${adviceData.snowAdvice.message}" class="snow"/>
    <img th:src="${adviceData.snowAdvice.icon}" class="snowIcon"/>
    <div style="text-align: right"><img th:src="${adviceData.snowAdvice.advertisment}" class="snowAdvertisement"/></div>
</div>
</div>
<div class="wrap3">
<div style="display: inline-block; background-color:#7FC8FF" class="aqd">
    <p th:text="'Air Quality Index (0-500): ' + ${adviceData.airQualityData.aqi} + ', ' +${adviceData.airQualityData.message}" class="aq"/>
    <img th:src="${adviceData.airQualityData.icon}" class="aqIcon" />
</div>
</div>
<div class = "wrap4">
<div style="display: inline-block; background-color:#F0E68C" class="pawg">
    <p th:text="'Pollen Count: ' + ${adviceData.pollenAdvice.pollenGrass} + ', '+${adviceData.pollenAdvice.grassMessage}" class="pd"/>
    <p th:text="'Pollen Count: ' + ${adviceData.pollenAdvice.pollenTree} + ', ' +${adviceData.pollenAdvice.treeMessage}" class="pd"/>
    <p th:text="'Pollen Count: ' + ${adviceData.pollenAdvice.pollenWeed} + ', ' +${adviceData.pollenAdvice.weedMessage}" class="pd"/>
    <img th:src="${adviceData.pollenAdvice.icon}" class="pollenIcon" />
    <div style="text-align: right"><img th:src="${adviceData.pollenAdvice.advertisment}" class="pollenAdvertisement" /></div>
</div>
</div>
<div class="wrap5">
<div style="display: inline-block; background-color:#FF8C00" class="fired">
    <p th:text="'Fire Advice: ' + ${adviceData.fireAdvice.activity} + ' ' + ${adviceData.fireAdvice.fireSize} + ' ' +${adviceData.fireAdvice.message}" class="fire"/>
    <img th:src="${adviceData.fireAdvice.icon}" class="fireIcon" />
</div>
</div>

</body>
</html>
